ul {
  list-style: none;
  margin-left: 16px;
  padding: 0;
}

.jsontree_child-nodes {
  margin-left: 16px;
  padding-left: 16px;
}

* {
  box-sizing: border-box;
}

.table-sm td, .table-sm th {
  padding: 10px;
}

.review-status.warn {
  color: #e28d43;
  font-weight: bold;
}

.review-status.rejected {
  color: #e24343;
  font-weight: bold;
}

.review-status.allowed {
  color: #43e268;
  font-weight: bold;
}

div.message {
  position: relative;
  padding: 10px;
  padding-left: 35px;
  margin: 30px 10px;
  box-shadow:0 2px 5px rgba(0,0,0,.3);
  background: #BBB;
  color: #FFF;
  
  -webkit-transition: all .5s ease;
     -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
       -o-transition: all .5s ease;
          transition: all .5s ease;
}

div.message.warning{background: #E74;}