<!DOCTYPE html>
<html lang="en">
  <head>
    <title>K8s Admission Review Logs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/jsonTree.css">
    <link rel="stylesheet" href="/assets/webhook-scan-logs.css">
  </head>
  <body>
      <table class="table table-sm" style="table-layout: fixed;">
        <thead class="thead-light">
        <tr>
          <th scope="col" style="width: 256px" >Time</th>
          <th scope="col" style="width: 200px">Status</th>
          <th scope="col" style="width: 50%">Request</th>
          <th scope="col" style="width: 50%">Reasoning</th>
        </tr>
        </thead>
        <tbody>
        {{range .}}
        <tr>
          <td class="review-time"><a href={{.LogURL}} class="time-object" target="_blank">{{.CreatedAt}}</a></td>
          <td class="review-status">{{.Status}}</td>
          <td class="review-request json-object ">{{.Request}}</td>
          <td class="review-reasoning json-object ">{{.Reasoning}}</td>
        </tr>
        {{end}}
        </tbody>
      </table>
      <script type="text/javascript" src="/assets/jsonTree.js"></script>
      <script type="text/javascript" src="/assets/moment.js"></script>
      <script type="text/javascript" src="/assets/webhook-scan-logs.js"></script>
  </body>
</html>
