<!DOCTYPE html>
<html lang="en">
<head>
  <title>K8s Admission Review Logs</title>
  <link rel="stylesheet" href="/assets/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/jsonTree.css">
  <link rel="stylesheet" href="/assets/webhook-scan-logs.css">
</head>
<body>
<main class="jumbotron">
  <table class="table table-sm" style="table-layout: fixed;" aria-describedby="logs-table">
    <tbody>
    <tr>
      <th scope="col" style="width: 256px">UID</th>
      <th scope="col">{{.UID}}</th>
    </tr>
    <tr>
      <th scope="col">Status</th>
      <th scope="col" class="review-status">{{.Status}}</th>
    </tr>
    <tr>
      <th scope="col">Request</th>
      <th class="json-object" scope="col">{{.Request}}</th>
    </tr>
    <tr>
      <th scope="col">Violations Summary</th>
      <th class="json-object" scope="col">{{.Violations}}</th>
    </tr>
    <tr>
      <th scope="col">Deniable Violations</th>
      <th class="json-object" scope="col">{{.DeniableViolations}}</th>
    </tr>
    </tbody>
  </table>
</main>
<script type="text/javascript" src="/assets/jsonTree.js"></script>
<script type="text/javascript" src="/assets/moment.js"></script>
<script type="text/javascript" src="/assets/webhook-scan-logs.js"></script>
</body>
</html>
