name: build
on:
  push:
  pull_request:
  schedule:
    - cron: 0 23 * * *
jobs:
  validate:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
      GOPATH: /home/runner/work/terrascan
      GOBIN: /home/runner/work/terrascan/bin
      GO_VERSION: 1.16
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_TEST }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_TEST }}
      AWS_REGION: ${{ secrets.AWS_REGION_TEST }}
      AZURE_AUTH_TEST_SECRET:  ${{ secrets.AZURE_AUTH_TEST_KEY }}
      GOOGLE_APPLICATION_CREDENTIALS_TEST_SECRET:  ${{ secrets.GOOGLE_APPLICATION_CREDENTIALS_TEST_KEY }}
    steps:
    - name: Checkout Terrascan
      uses: actions/checkout@v2
      
    - name: Setup Go
      uses: actions/setup-go@v1
      with:
        go-version: ${{ env.GO_VERSION }}

    - name: Go validations
      uses: golangci/golangci-lint-action@v2
      with:
        # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
        version: v1.42

        # Optional: if set to true then the action will use pre-installed Go.
        skip-go-installation: true

        # Optional: if set to true then the action don't cache or restore ~/go/pkg.
        skip-pkg-cache: true

        # Optional: if set to true then the action don't cache or restore ~/.cache/go-build.
        skip-build-cache: true

    - name: Build Terrascan
      run: make build

    - name: Run unit tests
      run: make unit-tests
    
    - name: install kind
      run: make install-kind

    - name: Run e2e tests
      run: make e2e-tests

    - name: Run e2e vulnerability tests
      if: ${{ github.event_name == 'push'|| github.event_name == 'schedule' }}
      run: make e2e-vulnerability-tests

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1

  # push image to Docker Hub
  push:
    # Ensure "validate" job passes before pushing image.
    needs: validate

    runs-on: ubuntu-latest
    if: github.event_name == 'push'

    steps:
    - name: Checkout Terrascan
      uses: actions/checkout@v2

    - name: Build Terrascan docker image
      run: make docker-build

    - name: Login to docker hub
      run: echo "${{ secrets.DOCKER_HUB_TOKEN }}" | docker login -u accurics --password-stdin

    - name: Push Terrascan latest docker image
      if: ${{ github.ref == 'refs/heads/master' }}
      run: make docker-push-latest
