name: release

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
      GO_VERSION: 1.16
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      -
        name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ env.GO_VERSION }}
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  # push image to Docker Hub
  push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Terrascan
      uses: actions/checkout@v2

    - name: Build Terrascan docker image
      run: make docker-build

    - name: Login to docker hub
      run: echo "${{ secrets.DOCKER_HUB_TOKEN }}" | docker login -u accurics --password-stdin

    - name: Push Terrascan latest tag docker image
      run: make docker-push-latest-tag

    - name: Build terrascan_atlantis docker image
      run: make atlantis-docker-build

    - name: Push terrascan_atlantis latest tag docker image
      run: make atlantis-docker-push-latest-tag

    - name: Build terrascan-argo docker image 
      run: make argo-docker-build
    - name: Push terrascan-argo latest tag docker image 
      run: make argo-docker-push
